nav {
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgb(51, 67, 67); /* Dark background color */
    padding: 20px 10px; /* Increase padding to make the nav bar thicker */
    height: 80px; /* Set an explicit height for the nav bar */
}

nav ul {
    list-style-type: none; /* Removes bullet points */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes margin */
    display: flex; /* Horizontal layout */
}

nav ul li {
    display: inline-block; /* Makes list items inline */
    padding-left: 40px; /* Adds space between items */
    padding-right: 40px; /* Adds space between items */
    font-size: 18px; /* Larger font size for the links */
}

nav a {
    text-decoration: none; /* Removes underline from links */
    color: rgb(225, 213, 213); /* Light color for links */
    font-size: 18px; /* Font size similar to home.css */
}

nav a:hover {
    color: rgb(16, 16, 163); /* Change color on hover to blue */
}

.row1, .row2, .row3, .row4, .row5{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; 
    padding:0px; 
    width:100%;
    padding: 10px;
    border: 2px solid gray;
    height: 350px;
}

.viz1, .viz2{
    flex: 1;
    display: flex;
    font-size: small;
    padding: 10px;
}
  

 /* nav ul {
    list-style: none;
} */
/*
nav ul ul{
    position: absolute; 
    padding: 0; 
    display: none;
    background-color: #bcbdc1;
}

nav ul ul li{
    border: 1px solid #00005d; 
    display: block;
    width: 7em;
    padding: 5px;
    margin-left: 0;
    padding-left: 1em;
}

nav li:hover ul{
    display: block;
}

nav li{
    border-bottom: 1px solid darkblue;
} */

/* main li{
    padding:5px;
}
main{
    display: flex;
    background-color: whitesmoke;
    overflow: auto; 
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
} */

#wrapper{
    background-color: #90c7e3;
    background-image: linear-gradient(white,lightblue);
    background-repeat: no-repeat;
    min-height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
}

body{
    text-align: center;
}
